.container-fluid{
    background-image:url("blue1.jpg");
    border-right-style: solid;
    border-right-color: black;
    border-left-style: solid;
    border-left-color: black;
}
#head{
    margin:0px;
    width:100%;
    height:120px;
    border-color: black;
    border-style:solid;
    border-left:None;
    border-right: None;

}

.logo
{
    position: absolute;
    top: 10px;
    left: 10px;

}
.name
{
    position: absolute;
    top: 23px;
    left: 160px;
    height:70px;   
}
#quizz{
    position: absolute;
    top:555px;
    left:1250px;
}

.home {
    color:aliceblue;
    font-size:20;
    position: absolute;
    top: 40px;
    right:1160px;
    transform: translate(auto, auto);
}
.intro {
    color:aliceblue;
    font-size:20;
    position: absolute;
    top: 40px;
    right:960px;
    transform: translate(auto, auto);
}
.course {
    color:aliceblue;
    font-size:20;
    position: absolute;
    top: 40px;
    right:725px;
    transform: translate(auto, auto);
}
.project {
    color:aliceblue;
    font-size:20;
    position: absolute;
    top: 40px;
    right:490px;
    transform: translate(auto, auto);
}
.application {
    color:aliceblue;
    font-size:20;
    position: absolute;
    top: 40px;
    right:240px;
    transform: translate(auto, auto);
}
.contact {
    color:aliceblue;
    font-size:20;
    border-style: solid;
    padding:5px 11px 5px 11px;
    position: absolute;
    top: 60px;
    right: 5px;
    transform: translate(auto, auto);
}

.about {
    color:aliceblue;
    font-size:20;
    border-style: solid;
    padding:5px 5px 5px 5px;
    position: absolute;
    top: 5px;
    right:5px;
    transform: translate(auto, auto);
}
.footer{
    width:100%;
    height:65px;
    border-color: black;
    border-style:solid;
    position: absolute;
    top:687px;
    right:0px;
}
.logofoot
{
    position: absolute;
    top: 695px;
    left: 20px;
    height:50px;
    width:70px;
}

.tag{
    color:aliceblue;
    font-size:20;
    position:absolute;
    top:702px;
    left:1250px;
    transform:translate(auto,auto);
}
.topic{
    height:10%;
    width:30%;
    position: absolute;
    top:230px;
    left:530px;
}
.tleft{
    border-style: double;
    border-color:black;
    border-width:20px;
    height:30%;
    width:30%;
    position: absolute;
    top:150px;
    left:25px;
}
.tright{
    border-style: double;
    border-color:black;
    border-width:20px;
    height:30%;
    width:30%;
    position: absolute;
    top:150px;
    right:25px;
}
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 10px 24px;
    border: 5px solid #000000;
    border-radius: 100px;
    background: #eb1a67;
    background: -webkit-gradient(linear, left top, left bottom, from(#eb1a67), to(#e31661));
    background: -moz-linear-gradient(top, #eb1a67, #e31661);
    background: linear-gradient(to bottom, #eb1a67, #e31661);
    -webkit-box-shadow: #000000 10px 5px 0px 0px;
    -moz-box-shadow: #000000 10px 5px 0px 0px;
    box-shadow: #000000 10px 5px 0px 0px;
    font: normal normal bold 45px arial;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    top:400;
    left:60;


}
.button:hover,
.button:focus {
    background: #ff1f7c;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff1f7c), to(#ff1a74));
    background: -moz-linear-gradient(top, #ff1f7c, #ff1a74);
    background: linear-gradient(to bottom, #ff1f7c, #ff1a74);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #8d103e;
    background: -webkit-gradient(linear, left top, left bottom, from(#8d103e), to(#e31661));
    background: -moz-linear-gradient(top, #8d103e, #e31661);
    background: linear-gradient(to bottom, #8d103e, #e31661);
}
#basics{
    position: absolute;
    top:420;
    left:50;
}
#conditional{
    position: absolute;
    top:555;
    left:140;
}
#header{
    position: absolute;
    top:420;
    left:565;
}
#loop{
    position: absolute;
    top:555;
    left:930;
}
#operators{
    position: absolute;
    top:420;
    left:1170;
}

